*~
/*

!AA-paper/
AA-paper/*
!AA-paper/AA-paper.bib

!AB-paper/
AB-paper/*
!AB-paper/AB-paper.bib

!AO-paper/
AO-paper/*
!AO-paper/AO-paper.bib

!AT-thesis/
AT-thesis/*
!AT-thesis/AT-thesis.bib

!book/
book/*
!book/book.bib

!lecture/
lecture/*
!lecture/lecture.bib

!note/
note/*
!note/note.bib
